* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.app-container {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #e0e0e0;
  font-family: "Cabin", sans-serif;
}

.logo {
  width: 50px;
  height: 50px;
  margin-right: 10px;
}

.logo-text {
  font-size: 20px;
  font-weight: 600;
  color: #3c3c3c;
}

.main-container {
  border-left: 0.2px solid rgb(201, 201, 201);
  border-right: 0.2px solid rgb(201, 201, 201);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 800px;
  height: 700px;
}

.content-wrapper {
  border: 1px solid rgb(30, 26, 26);
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-wrap: wrap;
}

.canvas-wrapper {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  flex-direction: column;
  align-items: center;
}

.customization-section {
  display: flex;
  flex-direction: row;
  align-items: end;
  justify-content: end;
}

.iphone-text {
  font-weight: 400;
  color: #333;
  margin: 0px;
  font-size: 38px;
  margin-bottom: 8px;
}

.upload-input {
  display: none;
}

.upload-btn {
  background-color: #000000;
  color: #fff;
  padding: 10px 15px;
  border-radius: 30px;
  cursor: pointer;
  transition: background 0.3s;
  margin: 0px;
  font-family: cabin;
  font-weight: lighter;
}

.upload-btn:hover {
  background-color: #0056b3;
}

.control-btn {
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 0.1px solid black;
  margin: 0px 5px;
  padding: 5px;
  border-radius: 15px;
  margin-bottom: 10px;
  background-color: rgb(255, 255, 255);
}

.abc {
  font-size: 17px;
  color: #000000;
  cursor: pointer;
}

.loading-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.9);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 9999;
}

.spinner {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #ed1369;
  border-radius: 50%;
  animation: spin 1s linear infinite;
}

.loading-text {
  margin-top: 20px;
  font-size: 1.2rem;
  color: #333;
  font-family: cabin;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
